<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chart.js demo</title>
        <script src='@routes.Assets.at("javascripts/chart/Chart.min.js")'></script>
    </head>
    <body>

        <canvas id="buyers" width="600" height="400"></canvas>
        <canvas id="countries" width="600" height="400"></canvas>
        <canvas id="income" width="600" height="400"></canvas>
        <canvas id="consultasP" width="600" height="400"></canvas>


            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>

        <script>



        var v ="";

        var buyerData = {
        labels : ["January","February","March","April","May","June"],
        datasets : [
        {
        fillColor : "rgba(172,194,132,0.4)",
        strokeColor : "#ACC26D",
        pointColor : "#fff",
        pointStrokeColor : "#9DB86D",
        data : [203,156,99,251,305,247]
        }
        ]
        }

        var buyers = document.getElementById('buyers').getContext('2d');
        new Chart(buyers).Line(buyerData);
        ///////////////////////////////////////////////////


        var pieData = [
        {
        value: 20,
        color:"#878BB6"
        },
        {
        value : 40,
        color : "#4ACAB4"
        },
        {
        value : 10,
        color : "#FF8153"
        },
        {
        value : 30,
        color : "#FFEA88"
        }
        ];


        var pieOptions = {
        segmentShowStroke : false,
        animateScale : true
        }

        var countries= document.getElementById("countries").getContext("2d");
        new Chart(countries).Pie(pieData, pieOptions);

        ///////////////////////////////////////////////////
        var barData = {
        labels : ["January","February","March","April","May","June"],
        datasets : [
        {
        fillColor : "#48A497",
        strokeColor : "#48A4D1",
        data : [456,479,324,569,702,600]
        },
        {
        fillColor : "rgba(73,188,170,0.4)",
        strokeColor : "rgba(72,174,209,0.4)",
        data : [364,504,605,400,345,320]
        }

        ]
        }


        var income = document.getElementById("income").getContext("2d");
        new Chart(income).Bar(barData);

        ///////////////////////////////////////////////////

        $.get('http://localhost:8080/wcs/webresources/generic/AppMounth?specialitie=otorrino', function(data){
        console.log(data);
        var barData = {
        labels : ["January","February","March","April","May","June","July", "August", "September", "October", "November", "December"],
        datasets : [
        {
        fillColor : "#48A497",
        strokeColor : "#48A4D1",
        data :data
        }
        ]
        }


        var consultasP = document.getElementById("consultasP").getContext("2d");
        new Chart(consultasP).Bar(barData);
        });



        </script>

    </body>
</html>